* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* Add styles here! */

header {
  min-height: 40%;
  margin-top: 64px;
}
main {
  min-height: 60%;
}
.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  max-width: 400px;
  padding: 24px;;
  padding-bottom: 48px;

}
.intro-chunk h1 {
  padding-bottom: 24px;
}

.intro-chunk p{
  font-size: 1.25rem;
  margin: 16px 0px;
}

p strong {
  color: hsl(160deg, 100%, 30%)
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
}
.card {
  margin: 64px 0 ;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom:8px solid hsl(0deg, 0%, 40%);
}
.indented-heading {
 background-color: hsl(45deg, 100%, 50%);
 border-bottom:8px solid hsl(45deg, 100%, 40%);
 display: inline-block;
 padding: 16px 32px 16px 48px;
 margin-left: -16px;
 margin-right: 32px;;
 margin-top: 8px;
}

.card p {
  padding: 0 32px;
}

